appdirs==1.4.3
appnope==0.1.0
astroid==2.0.4
asttokens==2.2.1
backcall==0.1.0
bleach==2.1.3
brotlipy==0.7.0
certifi==2018.8.24
cffi 
chardet==3.0.4
charset-normalizer 
cloudpickle==1.6.0
colorama 
ConfigArgParse==0.13.0
cryptography
cycler==0.10.0
dask==0.18.2
datrie==0.8.2
decorator==4.4.2
Deprecated==1.2.13
docutils==0.19
entrypoints==0.2.3
et-xmlfile==1.1.0
executing==1.2.0
fire==0.4.0
future==0.18.3
gitdb==4.0.10
GitPython==3.1.31
graphtools==1.5.3
h5py==3.10.0
html5lib==1.0.1
idna==2.7
igraph==0.10.6
imageio==2.9.0
importlib-metadata==6.8.0
ipykernel==4.8.2
ipython==8.12.2
ipython-genutils==0.2.0
ipywidgets==7.3.2
isort==4.3.4
jedi==0.19.0
Jinja2==2.10.1
joblib==1.3.2
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==6.4.2
jupyter-core==4.4.0
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
leidenalg==0.10.1
lit==16.0.6
llvmlite==0.40.1
mahotas==1.4.13
MarkupSafe==2.0.1
matplotlib==3.1.3
matplotlib-inline==0.1.6
mccabe==0.6.1
mistune==0.8.3
mock==5.0.1
mvlearn==0.5.0
natsort==7.0.1
nbconvert==5.3.1
nbformat==4.4.0
nd2reader==3.3.0
networkx==2.4
notebook==5.7.16
numexpr==2.8.4
numpy==1.19.5
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
openpyxl==3.1.2
packaging==23.1
pandas==1.0.3
pandocfilters==1.4.2
parso==0.8.3
patsy==0.5.3
pexpect==4.6.0
pickleshare==0.7.4
Pillow==7.1.2
PIMS==0.6.1
pims-nd2==1.1
pip-autoremove==0.9.1
prometheus-client==0.3.1
prompt-toolkit==3.0.39
psutil==5.9.4
ptyprocess==0.6.0
PuLP==2.7.0
pure-eval==0.2.2
pycosat==0.6.3
pycparser 
Pygments==2.16.1
PyGSP==0.5.1
pylint==2.1.1
pynndescent==0.5.10
pyOpenSSL 
pyparsing==2.2.0
PySocks
python-dateutil==2.7.3
python-igraph==0.10.6
python-Levenshtein==0.12.2
pytz==2018.5
PyWavelets==1.1.1
PyYAML==5.4
pyzmq==20.0.0
qtconsole==4.3.1
ratelimiter==1.2.0.post0
requests==2.21.0
s-gd2==1.8.1
scikit-image==0.18.1
scikit-learn==0.23.2
scipy==1.6.0
scprep==1.2.2
seaborn==0.12.2
Send2Trash==1.5.0
simplegeneric==0.8.1
six==1.14.0
slicerator==1.1.0
smmap==5.0.0
snakemake==5.32.1
stack-data==0.6.2
statsmodels==0.14.0
sympy==1.12
tables==3.7.0
tasklogger==1.2.0
termcolor==2.2.0
terminado==0.8.1
testpath==0.3.1
texttable==1.6.7
threadpoolctl==3.1.0
tifffile==2023.2.28
toolz==0.9.0
toposort==1.10
torch==2.0.1
tornado==5.1
tqdm==4.46.0
traitlets==5.9.0
triton==2.0.0
typed-ast==1.4.2
typing_extensions==4.7.1
umap-learn==0.5.3
urllib3==1.24.2
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.3.1
wrapt==1.10.11
xgboost==1.7.6
xlrd==1.1.0
xlwt==1.3.0
xmltodict==0.13.0
zipp==3.16.2
